<section class="main">
  <div class="container">
    <div class="main-info">
      <h1 class="double-title">The most delicious pizza in the world
        <span>only at Pizza Cheff</span></h1>
      <div class="main-advantages">
        <div class="main-advantage">
          <div class="advantage-image">
            <img src="assets/images/hop.png" alt="Hop">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">The best dough</div>
            <div class="advantage-description">We create the dough only from selected Italian flour of the highest
              quality
            </div>
          </div>
        </div>
        <div class="main-advantage">
          <div class="advantage-image">
            <img src="assets/images/kitchen-pack.png" alt="Kitchen pack">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">top chefs</div>
            <div class="advantage-description">The pizzas are made by the most
              professional
              Italian chefs
            </div>
          </div>
        </div>
        <div class="main-advantage">
          <div class="advantage-image">
            <img src="assets/images/seo-and-web.png" alt="Seo and web">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">quality assurance</div>
            <div class="advantage-description">Our pizzeria has won
              many awards and
              recognitions from all over the world
            </div>
          </div>
        </div>
        <div class="main-advantage">
          <div class="advantage-image">
            <img src="assets/images/holidays.png" alt="Holidays">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">selected recipes</div>
            <div class="advantage-description">We use recipes
              from the world leaders
              in pizza making
            </div>
          </div>
        </div>
        <div class="main-action">
          <a class="btn" (click)="test()">Choose a pizza</a>
        </div>
      </div>
    </div>
    <div class="main-image">
      <img src="assets/images/pizza_big.png" alt="PizzaBig">
    </div>
  </div>
</section>
<popup [data]="'Main Component'"></popup>



