.about .container {
  flex-direction: column;
  align-items: start;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-image {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
