<section class=" about">
  <div class="container">
      <div class="order-text-title double-title"><span>Stop thinking!</span>We deliver your order in 30 minutes!</div>
      <div class="order-text-message">
        We are guaranteed to deliver your pizza within 30 minutes of placing your order. If we're even
        1
        minute - you get the whole order for free and a voucher for a discount on your next order. We pride ourselves on
        our
        service
        and we will do everything to make our client satisfied and not left hungry!
        We are guaranteed to deliver your pizza within 30 minutes of placing your order. If we're even
        1
        minute - you get the whole order for free and a voucher for a discount on your next order. We pride ourselves on
        our
        service
        and we will do everything to make our client satisfied and not left hungry!
      </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Pizza">
      <img src="assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>
