<section class="main">
  <div class="container">
    <div class="main-info">
      <h1 class="double-title">The most delicious pizza in the world
        <span>only at Pizza Cheff</span></h1>
      <div class="main-advantages">
        <div class="main-advantage">
          <div class="advantage-image">
            <img src="assets/images/hop.png" alt="Hop">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">The best dough</div>
            <div class="advantage-description">We create the dough only from selected Italian flour of the highest
              quality
            </div>
          </div>
        </div>
        <div class="main-advantage">
          <div class="advantage-image">
            <img src="assets/images/kitchen-pack.png" alt="Kitchen pack">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">top chefs</div>
            <div class="advantage-description">The pizzas are made by the most
              professional
              Italian chefs
            </div>
          </div>
        </div>
        <div class="main-advantage">
          <div class="advantage-image">
            <img src="assets/images/seo-and-web.png" alt="Seo and web">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">quality assurance</div>
            <div class="advantage-description">Our pizzeria has won
              many awards and
              recognitions from all over the world
            </div>
          </div>
        </div>
        <div class="main-advantage">
          <div class="advantage-image">
            <img src="assets/images/holidays.png" alt="Holidays">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">selected recipes</div>
            <div class="advantage-description">We use recipes
              from the world leaders
              in pizza making
            </div>
          </div>
        </div>
        <div class="main-action">
          <button class="btn" (click)="scrollTo(productsElement)">Choose a pizza</button>
        </div>
      </div>
    </div>
    <div class="main-image">
      <img src="assets/images/pizza_big.png" alt="PizzaBig">
    </div>
  </div>
</section>
<section class="products" #productsElement>
  <div class="container">
    <h2 class="products-title">Choose your favorite pizza {{ lateData | async }}</h2>
    <div class="product-items">
      <product *ngFor="let product of products" [product]='product'
               (addToCardEvent)="addToCart($event, orderElement)"></product>
    </div>
  </div>
</section>
<div>{{ cardService.count }}</div>
<section class="order" #orderElement>
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title"><span>Stop thinking!</span>We deliver your order in 30 minutes!</div>
      <div class="order-text-message">
        We are guaranteed to deliver your pizza within 30 minutes of placing your order. If we're even
        1
        minute - you get the whole order for free and a voucher for a discount on your next order. We pride ourselves on
        our
        service
        and we will do everything to make our client satisfied and not left hungry!
      </div>
    </div>
    <div class="order-form">
      <input type="text" class="order-input" coolInput id="product-input" placeholder="Pizza"
             [coolInputDefaultBgColor]="'grey'"
             [coolInputFocusBgColor]="'red'"
             [(ngModel)]="formValues.productTitle">
      <input type="text" class="order-input" id="address-input" placeholder="Delivery address"
             [(ngModel)]="formValues.address">
      <input type="text" class="order-input" id="phone-input" placeholder="Phone" [(ngModel)]="formValues.phone">
      <button class="btn" (click)="createOrder()">Checkout</button>
    </div>
    <div class="order-image">
      <img src="assets/images/pizzzzza.png" alt="Pizza">
    </div>
  </div>
</section>

